.body {
  height: auto;
  padding: 45px 50px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  background-color: white;
  z-index: 100;
  border-radius: 3px;
  &-clip {
    width: 600px;
  }
}

.close-btn {
  top: 12px;
  right: 14px;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  color: #A0A0A0;
  &:hover {
    opacity: 1;
  }
}
.header {
  text-align: center;
  margin: 30px 0px 18px;
  font-size: 24px;
  color: #000;
  font-weight: bold;
}
.title {
  vertical-align: middle;
  text-align: center;
  // padding: 0 50px;
  font-size: 16px;
  color: #000;
}

.image {
  display: block;
  border: 2px solid #E9E9E9;
  height: 270px;
  width: 500px;
  &-clip {
    border-radius: 50%;
    width: 265px;
    height: 265px;
  }
}
.popup {
  animation: fadeIn .3s ease;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
}

.dots-wrap {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 16px;
}
.dot {
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #333;
  opacity: 0.4;
  cursor: pointer;
  vertical-align: middle;
  &.active {
    opacity: 0.8;
    width: 10px;
    height: 10px;
  }
}
.dot+.dot {
  margin-left: 10px;
}

%button {
  margin: 0 auto;
  padding: 14px 10px;
  text-transform: uppercase;
  display: block;
  border-radius: 5px;
  margin-top: 28px;
  min-width: 168px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.11), 0 4px 6px 0 rgba(40,77,89,.1);
  color: #fff;
  background-color: #00ACE6;
  &:focus {
      outline: 0;
  }
}

.next-btn {
  @extend %button;
  &:hover {
    // border: 1px solid #27AAE1;
  }
}
.last-btn {
  @extend %button;
}
